@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if(Model.todoList is not null)
{
     <table>
        <thead>
        <tr>
            <th>What to do</th>
            <th>Is it done?</th>
            <th>Due</th>
        </tr>
        </thead>
        <tbody>
    @foreach( var todo in Model.todoList)
    {
        <tr>
            <td>@todo.description</td>
            <td>@todo.dueDate.ToString()</td>
        </tr>
    }
        </tbody>
    </table>
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>




